<h2>Mes Pokemons</h2>
<div class="container-fiches-pokemons">
	<div class="row">
		<div class="col-lg-4" *ngFor="let pokemon of pokemons">
			<div class="card-pokemon mb-3" appShadowCard>
				<div class="col-lg-6">
					<img class="card-img-top" (click)="selectPokemon(pokemon)" src={{pokemon.picture}} alt="Photo Pokemon">
				</div>
				<div class="col-lg-6 card-body">
					<h4 class="card-title">{{pokemon.name}}</h4>
					<p class="card-text">{{pokemon.created | date:"dd/MM/yyyy"}}</p>
					<!-- on utilise la directive ngFor pour afficher tous les types d'un pokémon donné -->
			        <h4><span *ngFor='let type of pokemon.types' class="{{ type | pokemonTypeColor }}">{{ type }}</span></h4>
				</div>
			</div>
		</div>
	</div>
</div>